<!DOCTYPE html>
<html>
	<head>
		<title><%= title %>"</title>
		<%= csrf_meta_tag %>
		<%= render "layouts/stylesheets" %>
	</head>

	<body>
		
		<%= render "layouts/stylesheets" %>

		<div class = "container">

			<section>
				<%= yield %>
			</section>

		</div>
	</body>
</html>

